/**
 * Some base settings for common tags
 */

body {
  color: var(--body-color);
  background-color: var(--body-bg);
  font-family: var(--body-fonts);
}

a {
  color: var(--accent-color);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
