body {
  color: var(--body-color);
  background-color: var(--body-bg);
}

a {
  color: var(--accent-color);
}

.border-color {
  border-color: var(--border-color);
}

.body-color-light {
  color: var(--body-color-light);
}

.body-color-dark {
  color: var(--body-color-dark);
}
