/**
 * Some customized classes
 */

/* Display */

.dg {
  display: grid;
}

.gc-gap1 {
  column-gap: 1em;
}

.gr-gap1 {
  row-gap: 1em;
}

.gt-columns2 {
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 60em) {
  .gt-columns3-l {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Text */

.line-through {
  text-decoration: line-through;
}

.hover-line-through {
  &:hover,
  &:focus {
    text-decoration: line-through;
  }
}

.hover-no-decoration {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.hover-darken {
  &:hover,
  &:focus {
    color: var(--body-color-dark);
  }
}

.hover-bg {
  &:hover,
  &:focus {
    background-color: var(--border-color);
  }
}

/* Color */

.border-color {
  border-color: var(--border-color);
}

.body-color-light {
  color: var(--body-color-light);
}

.body-color-dark {
  color: var(--body-color-dark);
}
