article {
  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.line-through {
  text-decoration: line-through;
}

.hover-line-through {
  &:hover,
  &:focus {
    text-decoration: line-through;
  }
}
