:root {
  --body-bg:          #fff;
  --body-color:       #333;
  --body-color-light: #999;
  --body-color-dark:  #000;
  --accent-color:     #FF6300;
  --border-color:     rgba(0,0,0,.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg:         #111;
    --body-color:      #ccc;
    --body-color-dark: #fff;
    --accent-color:    #357EDD;
    --border-color:    rgba(255,255,255,.2);
  }
}
